<a href="https://colab.research.google.com/github/Ayushman2005-cmyk/PPML-EXPERIMENTS/blob/main/EXPT_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 0
b = 1
sum = 0
print("Fibonacci series between 0 to 1000 is:")
for i in range(1000):
  if a>1000:
    break
  print(a, end = '')
  if(a % 2 == 0):
    sum += a
  temp = a
  a = b
  b = temp+b
print("\n And the sum of all even terms is:", sum)

Fibonacci series between 0 to 1000 is:
01123581321345589144233377610987
 And the sum of all even terms is: 798

In [3]:
l = [1,2,3,4,5]
print("Elements in the list are :- ")
for i in l:
    print(i, end=", ")
t = ("Ayushman Kar","24CSEAIML003","24UG010500")
print("\n\nElements in the tuple are :- ")
for i in t:
    print(i, end=", ")
d = {"Name":"Ayushman Kar", "Roll no.":"24CSEAIML003","Regd no.":"24UG010500"}
print("\n\nElements in the dictionary are :- ")
for i in d:
    print(f"{i} : {d[i]}")
s = {1,2,3,4}
print("\nElements in the set are :- ")
for i in s:
    print(i, end=", ")

Elements in the list are :-
1, 2, 3, 4, 5,

Elements in the tuple are :-
Ayushman Kar, 24CSEAIML003, 24UG010500,

Elements in the dictionary are :-
Name : Ayushman Kar
Roll no. : 24CSEAIML003
Regd no. : 24UG010500

Elements in the set are :-
1, 2, 3, 4,

In [4]:
l = [0,20,37,100]
for i in l:
    f = (i * 9/5) + 32
    print(f"{i} C = {f} F")

0 C = 32.0 F
20 C = 68.0 F
37 C = 98.6 F
100 C = 212.0 F

In [6]:
l = []
n = int(input("Enter the number of terms to be entered :- "))
for i in range(n):
    l.append(int(input(f"enter {(i+1)}th number :- ")))
res = sorted(list(set(l)))
print("After removing the duplicate elements and sorting the list :-",res)

Enter the number of terms to be entered :- 4
enter 1th number :- 1
enter 2th number :- 1
enter 3th number :- 4
enter 4th number :- 2
After removing the duplicate elements and sorting the list :- [1, 2, 4]